@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],
input[type="password"],
input[type="email"] {
  @apply w-full  my-1 px-4 py-2 rounded-md;
  outline: none;
}

input::placeholder {
  font-family: "Manrope";
  font-size: 16px;
}

button {
  @apply bg-gray-300;
}

button.primary {
  @apply bg-primary-500 p-2 w-full text-white rounded-full;
}

* {
  box-sizing: border-box !important;
}

html,
body,
#root {
  @apply h-full;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Manrope";
}

.ffpoppins {
  font-family: "Poppins", "Manrope", sans-serif !important;
}
